.message{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 10px;
    margin-top: 5px;

}

.title {
    align-content: center;
}


#rightside{
    background-color:rgb(200,200,200);
    display:grid;
    margin: 10px;
}

#messagefeed{
    display:grid;
    flex: 1fr 1 ;
    margin: 10px;
    background-color:rgb(200,200,200);

}

#table{
    display:grid;
    align-self: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

#sendMessageBox{
    display:flex;
    justify-content: stretch;

}

#sendMessageBox input{
    align-self: stretch;

}